/* Challenge #2 */
/* https://codepen.io/jonasschmedtmann/pen/oNBJQOr/bc1ffc43d2c2d6dfb311d99f974ec991 */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

p,
ul {
  font-size: 16px;
  margin-bottom: 8px;
  line-height: 1.4;
}

h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

li {
  margin-bottom: 10px;
  margin-left: 20px;
}

.container {
  width: 825px;
  margin: 30px auto;
  border: 5px solid black;
}

/* PRODUCT */
.prod {
  font-size: 16px;
}

.prod-title {
  font-size: 20px;
  padding: 15px;
  text-align: center;
  background-color: #f7f7f7;
  text-transform: uppercase;
  margin: auto auto;
}

/* PRODUCT INFORMATION */
.price {
  font-size: 24px;
}

.shipping {
  color: #777;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

/* PRODUCT DETAILS */
.prod-details {
  text-transform: uppercase;
  font-size: 22px;
}

.prod-list {
  list-style: square;
}

/* BUTTON */

.btn-cart {
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 15px;
  border-top: 5px solid black;
}

.btn-cart:hover {
  background-color: white;
  color: black;
}
